<?php

$finder = PhpCsFixer\Finder::create()
    ->in('packages/*/src')
    ->in('packages/*/tests')
;

$config = (new PhpCsFixer\Config())
    ->setRules([
        '@PSR2' => true,
    ])
    ->setFinder($finder)
;

return $config;
