includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 8
    dynamicConstantNames:
        - Symfony\Component\HttpKernel\Kernel::VERSION_ID
    paths:
        - packages
    excludePaths:
        - packages/core/vendor
        - packages/core/var
        - packages/doctrine-orm/vendor
        - packages/doctrine-orm/var
        - packages/sentry/vendor
        - packages/sentry/var
