<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">./src/Bundle/LongRunningBundle/Tests/</directory>
            <directory suffix="Test.php">./src/Core/Tests/</directory>
            <directory suffix="Test.php">./src/Plugin/*/Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
