name: Tests

on: [ push ]

env:
    COMPOSER_ROOT_VERSION: "dev-master"

jobs:
    build-matrix:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v2
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 7.4
                    coverage: none
                    tools: composer:v2
            -   run: |
                    composer init --no-interaction --stability=beta --require-dev=symplify/monorepo-builder:9.0.0-BETA9
                    composer install --no-progress --ansi
            -   run: vendor/bin/monorepo-builder validate
            -   id: set-packages
                run: echo "::set-output name=packages::$(vendor/bin/monorepo-builder packages-json | cut -d ":" -f 2 | sed 's/.$//')"
        outputs:
            packages: ${{ steps.set-packages.outputs.packages }}

    tests:
        needs: build-matrix
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php-version: [ '7.4', '8.0' ]
                package: ${{ fromJson(needs.build-matrix.outputs.packages) }}
        steps:
            -   uses: actions/checkout@v2
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    coverage: none
                    tools: composer:v2
            -   run: |
                    composer init --no-interaction --stability=beta --require-dev=symplify/monorepo-builder:9.0.0-BETA9
                    composer install --no-progress --ansi
            -   run: vendor/bin/monorepo-builder localize-composer-paths ${{ matrix.package }}/composer.json --ansi
            -   run: composer update --no-progress --ansi --working-dir ${{ matrix.package }}
            -   name: Split Tests of ${{ matrix.package }}
                working-directory: ${{ matrix.package }}
                run: vendor/bin/phpunit
